# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
# dist
node_modules
coverage

# Lock
yarn.lock

# Environment (contains sensitive data)
.env

# Files not required for production
.editorconfig
Dockerfile
README.md
tslint.json